div.field {
  padding-bottom: 10px;
}

div.field label {
  display: block;
  float: left;
  width: 210px;
  height: 15px;
}

.xl-size {
  width: 210px;
  margin-right: 1000px;
}

form {
  width: 160px;
  margin: 0 auto;
}

.warningColor {
  color: navy;
}
