<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">100</th>
        <th scope="col">200</th>
        <th scope="col">500</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let atm of atms">
        <td>{{ atm.id }}</td>
        <td>{{ atm.note100 }}</td>
        <td>{{ atm.note200 }}</td>
        <td>{{ atm.note500 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
