<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && ( auth.userRole()=='ADMIN' || auth.userRole()=='USER')"
                 routerLink="/atms" class="btn btn-info">List
                Atms</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && auth.userRole()=='ADMIN'" routerLink="/put-cash-to-atm"
                 class="btn btn-info">Put cash</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && auth.userRole()=='USER'" routerLink="/account"
                 class="btn btn-info">Balance</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && auth.userRole()=='USER'" routerLink="/withdraw-money"
                 class="btn btn-info">Withdraw money</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && auth.userRole()=='USER'" routerLink="/deposit-money"
                 class="btn btn-info">Deposit money</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn() && auth.userRole()=='USER'" routerLink="/transfer-money"
                 class="btn btn-info">Transfer money</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="!auth.isUserLoggedIn()" routerLink="/login" class="btn btn-info">Login</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="!auth.isUserLoggedIn()" routerLink="/register" class="btn btn-info">Register</a>
            </li>
            <li class="list-inline-item">
              <a *ngIf="auth.isUserLoggedIn()" routerLink="/logout" class="btn btn-info">LogOut</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
  <div *ngIf="!auth.isUserLoggedIn()">
    <h5><b>When this project starts it initialised with next parameters:</b></h5>
    <li>ADMIN</li>
    <ul>
      <li>login: admin</li>
      <li>password: 123</li>
    </ul>
    <li>USER</li>
    <ul>
      <li>login: user</li>
      <li>password: 123</li>
      <li>User has two accounts:</li>
      <ol>
        <li>id=1 (amount of money = 100000.11)</li>
        <li>id=2 (amount of money = 0)</li>
      </ol>
    </ul>
  </div>
  <div>
    Two ATMs
    <ol>
      <li>id=1
        <ul>
          <li>NOTE 100 = 10</li>
          <li>NOTE 200 = 10</li>
          <li>NOTE 500 = 10</li>
        </ul>
      </li>
      <li>id=2
        <ul>
          <li>NOTE 100 = 123</li>
          <li>NOTE 200 = 123</li>
          <li>NOTE 500 = 123</li>
        </ul>
      </li>
    </ol>
  </div>
</div>
