<div class="container">
  <form (ngSubmit)="checkLogin()" #userForm="ngForm">
    <div class="field">
      <label> User Name : </label>
      <input type="text" name="name" [(ngModel)]="userRequest.name">
    </div>
    <div class="field">
      <label> Password : </label>
      <input type="password" name="password" [(ngModel)]="userRequest.password">
    </div>
    <div class="field">
      <button type="submit" class="btn btn-info xl-size">
        Login
      </button>
    </div>
  </form>
</div>
